@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@theme {
    --color-foreground: #BAB7B6;
    --color-background: #141414;
    --color-black: #000000;
    --color-red: #CF494C;
    --color-green: #60B442;
    --color-yellow: #DB9C11;
    --color-blue: #0575D8;
    --color-magenta: #AF5ED2;
    --color-cyan: #1DB6BB;
    --color-white: #BAB7B6;
    --color-bright-black: #817E7E;
    --color-bright-red: #FF643B;
    --color-bright-green: #37E57B;
    --color-bright-yellow: #FCCD1A;
    --color-bright-blue: #688DFD;
    --color-bright-magenta: #ED6FE9;
    --color-bright-cyan: #32E0FB;
    --color-bright-white: #D3D8D9;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}
