@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@theme {
    --color-foreground: #BAB7B6;
    --color-background: #141414;
    --color-black: #000000;
    --color-red: #CF494C;
    --color-green: #60B442;
    --color-yellow: #DB9C11;
    --color-blue: #0575D8;
    --color-magenta: #AF5ED2;
    --color-cyan: #1DB6BB;
    --color-white: #BAB7B6;
    --color-bright-black: #817E7E;
    --color-bright-red: #FF643B;
    --color-bright-green: #37E57B;
    --color-bright-yellow: #FCCD1A;
    --color-bright-blue: #688DFD;
    --color-bright-magenta: #ED6FE9;
    --color-bright-cyan: #32E0FB;
    --color-bright-white: #D3D8D9;

    --font-sans: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans KR', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans KR', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.pagy {
  @apply flex space-x-1 font-semibold text-sm text-gray-500;
  a:not(.gap) {
    @apply block rounded-lg px-3 py-1 bg-gray-200;
    &:hover {
      @apply bg-gray-300;
    }
    &:not([href]) { /* disabled links */
      @apply text-gray-300 bg-gray-100 cursor-default;
    }
    &.current {
      @apply text-white bg-gray-400;
    }
  }
  label {
    @apply inline-block whitespace-nowrap bg-gray-200 rounded-lg px-3 py-0.5;
    input {
      @apply bg-gray-100 border-none rounded-md;
    }
  }
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}
