<%= turbo_frame_tag "comments" do %>
  <% if comments.any? %>
    <% comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
    <% end %>
  <% else %>
    <div class="text-center py-8">
      <%= heroicon "chat-bubble-oval-left-ellipsis", variant: :outline, options: { class: "w-12 h-12 text-gray-500 mx-auto mb-4" } %>
      <h4 class="text-lg font-medium text-gray-400 mb-2">아직 댓글이 없습니다</h4>
      <p class="text-gray-500">첫 번째 댓글을 작성해보세요!</p>
    </div>
  <% end %>
<% end %>
