<%= heroicon "chat-bubble-oval-left-ellipsis", variant: :outline, options: { class: "w-6 h-6 mr-2 text-blue-500" } %>
댓글
<span class="ml-2 px-2 py-1 bg-blue-600 text-white text-sm rounded-full">
    <%= comments.count %>
</span>
