<% content_for :title, "RA || 루비 AI 뉴스" %>

<div id="articlesList" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <% @articles.each do |article| %>
    <%= render(ArticleComponent.new(article: article)) %>
  <% end %>
</div>
