name: Releasee

on:
  push:
    # branches: [ v*.*.* ]
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
      runs-on: ubuntu-latest

      permissions:
        contents: read
        packages: write
        attestations: write
        id-token: write

      steps:
        - name: Checkout code
          uses: actions/checkout@v4
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        - name: Extract metadata (tags, labels) for Docker
          id: meta
          uses: docker/metadata-action@v5
          with:
            images: ghcr.io/stadia/al-news
        - name: Build and push Docker image
          id: push
          uses: docker/build-push-action@v6
          with:
            context: .
            push: true
            tags: ghcr.io/stadia/al-news:latest
            labels: ${{ steps.meta.outputs.labels }}
